<!DOCTYPE html>
<html>
  <head>
    <title>Apartments for Rent | Apartments</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <%= javascript_pack_tag 'hello_react' %> -->
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
